{% extends 'base.html' %}

{% block title %}About Us{% endblock %}

{% block content %}
<div class="row justify-content-center mt-5">
    <div class="col-md-8">
        <div class="card">
            
            
                <div class="card-header" style="background-color:#8A2BE2">
                <h2 >About Text2Speak</h2>
                </div>
                <div class="card-body">
                <p class="card-text">Welcome to Text2Speak, where your words come to life through the magic of text-to-speech conversion.</p>
                <p class="card-text">At Text2Speak, we believe in making information accessible to everyone, and what better way to achieve that than by turning text into spoken words?</p>
                <p class="card-text">Key Features:</p>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Effortless Text-to-Speech Conversion</li>
                    <li class="list-group-item">Natural-sounding Voices</li>
                    <li class="list-group-item">Customizable Options for Voice and Speed</li>
                    <li class="list-group-item">User-friendly Interface</li>
                </ul>
                <p class="card-text mt-3">Join us on this journey of transforming written content into a delightful auditory experience!</p>
            </div>
        </div>
    </div>
</div>
{% include 'footer.html' %}
{% endblock %}