{% extends 'admin_base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <h1>Welcome to the Home Page</h1>
    <p>This is the content of the home page.</p>
    <center>
        <table>
         <tr>
             <th>
                 Username:
             </th>
             <th>
                 Email:
             </th>
         </tr>
         
         {%for user in user_data:%}
         <tr>
         <td>    
             {%print(user[2])%}
         </td>
         <td>    
             {%print(user[1])%}
         </td>
        
     </tr>
     
     {%endfor%}
    </table>
{% endblock %}

   